<form action="/auth/signup" method="POST">
   <div class="LoginSignup">
      <div class="input1">
   <label for="email">Email</label>
   <input class="formInput" type="email" name="email" id="email">
      </div>
      <div class="input2">
   <label for="password">Password</label>
   <input class="formInput" type="password" name="password" id="password">
      </div>
      <div class="input2">
   <label for="address">Address</label>
   <input class="formInput" type="text" name="address" id="address">
</div>
<div class="input3"> 
   <button type="submit">Submit</button>
</div>
</div>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}