<style>
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* margin-left: auto; */
        /* margin-right: auto; */
        margin:-17px;
    
    }

    nav a {
        font-size: 20px;
        padding: 16px;
        text-decoration: none;
        color: black;
    }

    nav div {
        font-family: "Outfit", sans-serif;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
    }

    nav div a {
        margin: 0 16px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        transition: border 250ms ease-in-out;
    }

   .nav-text:hover {
        border-bottom: 1px solid black;
    }

.LOGO{
    width: 160px;
    padding:13px;
}
.nav-start{
    display: flex;
    align-items: center;
}   
</style>
<nav>
    
    <div class="nav-start">
        <a href="/"><img class="LOGO" src="/images/CAT LOGO.png" alt="LOGO-CAT"></i></a>
        <a class="nav-text"href="/products">Products</a>
        <a class="nav-text"  class="nav-text" href="/our-story">Our Story</a>
        {{#if isAdmin}}
        <a class="nav-text" href="/dashboard/create">Create a product</a>
        <a class="nav-text" href="/dashboard/manage">Manage a product</a>
        {{/if}}
    </div>

    <div class="nav-end">
        {{#unless isLoggedIn}}
            <a class="nav-text"href="/auth/signup">Register</a>
            <a class="nav-text"href="/auth/login">Log in</a>
        {{/unless}}
        {{#if isLoggedIn}}
            <a href="/auth/logout">Log out</a>
        {{/if}}
        <a class="nav-text"href="/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</nav>