<style>
    nav {
        display: flex;
    }
</style>
<nav>
    <h2><i class="fas fa-cannabis"></i></h2>

    <div class="nav-start">
        <a href="/products">Products</a>
        <a href="/products">Our Story</a>
    </div>

    <div class="nav-end">
        {{#unless isLoggedIn}}
            <a href="/auth/signup">Register</a>
            <a href="/auth/login">Log in</a>
        {{/unless}}
        {{#if isLoggedIn}}
            <a href="/auth/logout">Log out</a>
        {{/if}}
    </div>
    <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
</nav>