<table>
    <thead>
        <tr>
            <td>Product name</td>
            <td>Quantity</td>
            <td>Prix</td>
        </tr>
    </thead>
    <tbody>
    {{#each cart}}
    <tr>
        <td>{{productId}}</td>
        <td>{{quantity}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
