<button>
<a href="/cart/empty">empty cart</a>
</button>

<table>
    <thead>
        <tr>
            <td>Product name</td>
            <td>Quantity</td>
            <td>Description</td>
            <td>Price</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
    {{#each cart}}
    <tr>
        <td>{{this.name}}</td>
        <td class="quant">{{this.quantity}}</td>
        <td>{{this.description}}</td>
        <td class="price">{{this.price}}</td>
        <td class="subTotal"></td>
    </tr>
    {{/each}}
    <tr>
        <td>TOTAL : </td>
        <td id="totalPrice"></td>
    </tr>
    </tbody>

    <form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
    </form>
    
</table>

<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
