<button>
<a href="/cart/empty">empty cart</a>
</button>

<table>
    <thead>
        <tr>
            <td>Pdroduct name</td>
            <td>Quantity</td>
            <td>Description</td>
            <td>Prix</td>
        </tr>
    </thead>
    <tbody>
    {{#each cart}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
