<button>
<a href="/cart/empty">empty cart</a>
</button>

<table>
    <thead>
        <tr>
            <td>Product name</td>
            <td>Quantity</td>
            <td>Description</td>
            <td>Price</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
    {{#each cart}}
    <tr>
        <td>{{this.name}}</td>
        <td class="quant">{{this.quantity}}</td>
        <td>{{this.description}}</td>
        <td class="price">{{this.price}}</td>
        <td class="totalPrice"></td>
    </tr>
    {{/each}}
    <button class="btnPrice">TEST</button>
    </tbody>
</table>
