<div >
<p class="h1check1"><strong>PAGE EN CONSTRUCTION</strong></p>
<img class="imgProg" src="/images/workinprogress.png" alt="Work in progress">
<img class="gif" src="/images/working cat.gif" alt="Working cat">
</div>