<h1>POUR HOMME</h1>
<form action="/products" method="post">

{{#each products}}
<h2>{{name}}</h2>
<p>{{description}}</p>
<p>Price : {{price}}€</p>

<label for="quantity">Quantity: </label>
<input type="number" name="quantity" min="1">
<button>Add to basket</button>
{{/each}}
</form>