<form action="/dashboard/create" method="post" enctype="multipart/form-data">
    <div class="LoginSignup">
        <div class="input1">
<label for="name">Name : </label><input class="formInput" name="name" type="text">
    </div>      
    <div class="input2">
<label for="description">Description : </label><input class="formInput" name="description" type="text">
</div>
<div class="input2">
<label for="price">Price : </label><input class="formInput" name="price" type="text">
</div>
 <label for="img">Image : </label>
 <input id="img" name="image" type="file">
 <div class="input3"> 
<button>Create</button>
</div>  
</div>   
</form>